{% extends '_base/base.html' %}
{% from "bootstrap/form.html" import render_form, render_field %}
{% block content %}

  <header class="content-header">
    <center><h1>Change Password</h1></center>
    <hr><br>
  </header>

  <br>
  <div class="container">
    <form action="{{ url_for('users_bp.change_password') }}" method="post" class="form" role="form">
      {{ form.csrf_token() }}
      {{ render_field(form.current_password) }}
      {{ render_field(form.new_password) }}
      {{ render_field(form.confirm) }}
      {{ render_field(form.submit) }}
    </form>
  </div>

{% endblock %}
