<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:type" content="website"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=""/>
<meta property="og:url" content=""/>
<meta name="twitter:title" content=""/>
<meta name="twitter:description" content=""/>
<meta name="twitter:url" content=""/>
<meta name="twitter:site" content=""/>
<meta name="twitter:creator" content="@MSAdministrator"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image"content=""/>
<meta property="og:image" content=""/>
<meta property="og:image:width" content="1000"/>
<meta property="og:image:height" content="523"/>
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.png') }}" type="image/x-icon" />
{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
{% endblock %}
<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<!-- Our Custom CSS -->

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.15.3/js/solid.js" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.3/js/fontawesome.js" crossorigin="anonymous"></script>

<title>Lophi.us</title>